<div class="mainWrapper">
  <div class="container">
    <div class="helpCenterWrapper">
      <h3>110Glasses Help Center</h3>
      <h2>Customer Information</h2>
      <div class="helpbox">
        <p>110Glasses takes pride in providing excellent customer service and satisfaction by guaranteeing the highest quality eyeglasses. Get all the information you need over here. The 110Glasses help center can guide you to the answers you are looking for.</p>
      </div>
      <h2>How to measure PD?</h2>
      <div class="helpbox">
        <ul>
          <li><p>Things you need: a straight “mm” ruler, a pencil or pen and a mirror.</p></li>
          <li><p>While looking straight in the mirror, place the ruler on the bridge of your nose.</p></li>
          <li><p>Make sure that the start of the ruler is directly below the center of one eye’s pupil.</p></li>
          <li><p>Hold the ruler (keeping it steady and parallel to the floor); mark the location on the ruler of the other eye’s pupil.</p></li>
          <li><p>Measure the distance in millimeters between the two marks. That distance will be your PD.</p></li>
        </ul>
      </div>
      <h2>How does 110Glasses ensure quality?</h2>
      <div class="helpbox">
        <p>At 110Glasses, we believe everyone should be empowered to express their individuality.</p>
        <p>We are passionate about what we do, and with expertise built over ten years of experience in the eyewear industry, we strive to provide a unique customer experience, with competitive pricing, unlimited choice and exceptional customer service at its core.</p>
        <p>By offering the world’s largest range of authentic designer eyewear, sourced directly from the world’s leading eywear suppliers, we are here to help you find what you love. As such, when you shop with us, you can be safe in the knowledge that you are buying original, high quality products from the world's top retailers. This is our mission, our purpose, and our promise.</p>
      </div>

    </div>
  </div>
</div>