<div class="mainWrapper">
  <div class="container">
    <div class="helpCenterWrapper">
      <h3>Return and exchange policy</h3>
      <h2>Exchange Policy</h2>
      <div class="helpbox">
        <ul>
          <li><p>There is a one time exchange policy if the size doesn't fit you.</p></li>
          <li><p>Please contact us through this email (example@gmail.com) if you doesn't like the frame ordered.</p></li>
          <li><p>If you have entered a wrong prescription. Do not worry. Email us your updated prescription and we will take care of the rest. </p></li>
        </ul>
      </div>

      <h2>Return Policy</h2>
      <div class="helpbox">
        <ul>
          <li><p>The product must be returned unused, with all the original packaging.</p></li>
          <li><p>All returns are inspected and will not get a refund if product is not in new condition and packaging.</p></li>
          <li><p>If defected product is sent to you. Please do contact us (example@gmail.com). We ensure quality of product is high before sending to customers.  </p></li>
          <li><p>On an average, orders for Canada take 1-5 days in transit. However, we can always send in a new order after initiating an inquiry from the postal services.</p></li>
          <li><p>The shipping charges of your product is non refundable.</p></li>
          <li><p>Do not return your product(s) without first contacting our customer service team.</p></li>
        </ul>
      </div>


    </div>
  </div>
</div>