@import "variables";
@import "mixins";
@import "general";

.mainFilterWrapper{
  position: relative;
}

.filterWrapper{
  background: $gallery;
  padding: 10px 0;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      a {
        color: $scorpian;
        padding: 0 15px;
        font-weight: $fwLight;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      &.allFilter {
        text-transform: uppercase;
        border-right: 1px solid $marron;
        a {
          padding-left: 0;
          font-weight: $fwRegular;
        }
      }
    }
  }
  .dealOfferInfo {
    text-transform: uppercase;
    color: $scorpian;
    font-size: 18px;
    margin: 6px 0 0;
    span {
      color: $primaryColor;
    }
    strong {
      font-weight: $fwBold;
      color: $black;
    }
  }
  @include Mq(MMD){
    .dealOfferInfo, ul {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    ul{
      margin: 0;
    }
    .filterCat{
      li{
        display: none;
        &.filterLegend{
          display: block;
          a{
            padding: 0;
            border: 0;
          }
          span{
            display: none;
          }
        }
      }
    }
  }
  @include Mq(XS){
    ul {
      li {
        &.allFilter {
          display: block;
          padding-right: 0;
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-right: 0;
          border-bottom: 1px solid $marron;
        }
      }
    }
  }
}

.filterCat{
  padding: 0;
  margin: 0;
  li {
    width: calc(100% / 7 - 34px);
    color: $scorpian;
    font-weight: $fwLight;
    min-width: 100px;
    &.filterLegend {
      text-transform: uppercase;
      width: auto;
      min-width: 210px;
      a {
        padding-left: 0;
        font-weight: $fwRegular;
        border-right: 1px solid $marron;
      }
      .bars{
        width: 15px;
        vertical-align: middle;
        display: inline-block;
        span{
          border-top: 2px solid $marron;
          display: block;
          margin-bottom: 3px;
        }
      }
      > span{
        padding-left: 20px;
      }
    }
  }
}

.filterOptions{
  background: $white - 8;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  height: 0;
  @include box-shadow(10px,0,13px,-13px, rgba($black,0.5));
  ul{
    padding: 0;
    margin: 0;
    li{
      width: calc(100% / 7 - 34px);
      color: $scorpian;
      font-weight: $fwLight;
      min-width: 100px;
      font-size: 15px;
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      &:first-child{
        width: auto;
        min-width: 210px;
        padding-left: 0;
        padding-right: 15px;
        #slider-margin-value-min{
          float: left;
        }
        #slider-margin-value-max{
          float: right;
        }
        > span{
          margin-top: 10px;
          font-size: 13px;
        }
      }
    }
  }
  .radioCheckWrap{
    margin-bottom: 5px;
    label{
      &:before{
        vertical-align: top !important;
      }
      span{
        vertical-align: top !important;
        width: calc(100% - 25px);
      }
    }
  }
  @include Mq(MMD){
    ul{
      display: block;
      overflow: auto;
      padding: 0 50px 10px;
      white-space: nowrap;
      li{
        width: auto;
        min-width: 130px;
        &:first-child{
          width: auto;
        }
        &:before{
          content: attr(data-legend)": ";
          display: inline-block;
          width: auto;
          font-size: 16px;
          font-weight: $fwBold;
          margin-bottom: 15px;
        }
      }
    }
    .radioCheckWrap{
      label{
        span{
          vertical-align: top !important;
          width: auto;
        }
      }
    }
  }
}

.filterBtns{
  text-align: right;
  margin-top: 15px;
  .btn{
    min-width: 100px;
    font-size: 15px;
  }
  @include Mq(MMD){
    text-align: center;
  }
}

.colorPallete{
  a{
    border-radius: 50%;
    border: 1px solid $alto;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    &:first-child{
      margin-left: 0;
    }
  }
  .filterColor{
    display: block;
    height: 100%;
    &:first-child{
      margin-left: 0;
      margin-bottom: 0;
    }
    &.fallGreen{
      background: #eaeaae;
    }
    &.black{
      background: $black;
    }
    &.gray{
      background: #808080;
    }
    &.blue{
      background: #0000ff;
    }
    &.buddhaGold{
      background: #cdad00;
    }
    &.totemPole{
      background: #9e0508;
    }
    &.eggPlant{
      background: #800080;
    }
    &.pink{
      background: #ffc0cb;
    }
    &.copper{
      background: #8b4513;
    }
    &.white{
      background: $white;
    }
    &.yellow{
      background: #ffff00;
    }
    &.titan{
      background: #f8f8ff;
    }
    &.orange{
      background: #ee9a00;
    }
    &.brown{
      background: #87421f;
    }
    &.doveGray{
      background: #696969;
    }
  }
}

.collapseArrow{
  text-align: center;
  padding: 15px 0;
  a{
    display: inline-block;
    font-size: 25px;
    &:hover{
      color: $doveGray;
    }
  }
}