.productSidebar {
  h3 {
    color: $primaryColor;
    font-size: 30px;
    margin: 0;
    margin-bottom: 25px;
    font-family: $secondaryFont;
    position: relative;
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      left: -25px;
      top: 9px;
      background: $coffee;
    }
  }
  h4 {
    text-align: right;
    margin: 0;
    border-bottom: 1px solid $alto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    color: $black;
    span {
      display: block;
      text-decoration: line-through;
      color: $silver;
      font-size: 16px;
    }
  }
  small {
    display: block;
    margin-bottom: 25px;
    color: $silver + 10;
  }
  p {
    color: $scorpian;
    margin-bottom: 25px;
  }
  .ratingSocialWrap {
    .socialWrap {
      display: block;
      a {
        color: $alto - 5;
        font-size: 25px;
      }
    }
  }
  .btnWrap{
    .btn{
      width: 100%;
      padding: 10px 0;
      + .btn{
        margin-left: 0;
        margin-top: 15px;
      }
      &.btn-primary{
        background: $primaryColor;
        &:hover, &:focus {
          background: $primaryColor - 10;
        }
      }
      &.btn-default{
        background: $gallery;
        color: $doveGray;
        &:hover, &:focus {
          background: $gallery - 10;
        }
      }
    }
  }
  .shippingInfoWrap{
    background: $white - 10;
    padding: 15px;
    border-top: 1px solid $alto;
    &:nth-of-type(1){
      margin-top: -10px;
      border:0;
    }
    h2{
      font-family: $secondaryFont;
      font-size: 22px;
      margin: 0;
      a{
        font-family: $primaryFont;
        font-size: 16px;
        display: inline-block;
        margin-top: 5px;
      }
    }
    small{
      color: $doveGray;
      font-size: 15px;
      font-weight: $fwBold;
      margin: 15px 0 0;
      padding-left: 25px;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
        margin-bottom: 5px;
        display: block;
        i{
          color: $primaryColor;
          margin-top: 3px;
          @extend .inlineBlockTop;
        }
        span{
          padding-left: 7px;
          width: calc(100% - 23px);
          @extend .inlineBlockTop;
        }
      }
    }
    .radioCheckWrap{
      margin: 15px 0;
    }
    .offerInfo{
      display: block;
      padding-left: 25px;
    }
  }
  @include Mq(MMD){
    margin-top: 20px;
    h3 {
      padding-left: 25px;
      &:before {
        left: 0;
      }
    }
  }
}