$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Rockwell';

//font weight
$fwLight:300;
$fwRegular: 400;
$fwBold: 700;

//color swatches
$black: #000;
$white: #fff;
$mineShaft: #333;
$doveGray: #656565;
$gallery: #ebebeb;
$mercury: #e1e1e1;
$alto: #dddddd;
$silver: #a3a3a3;

$primaryColor: #1a9f85;
$fountainBlue: #62b0bf;
$marron: #a71c1c;
$scorpian: #5c5a5a;
$coffee: #5c4125;

//transition default value
$transitionValue: all 400ms ease-in-out;