<div id="filterrific_results">

<div class="row">
  <% for product in @products %>
      <div class="col-md-3">
        <div class="glassInfoWrap">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= image_tag(product.avatar, :class => "img-responsive") %>
          <div class="ratingSocialWrap">
            <fieldset class="rating">
              <input type="radio" id="naw_star5" name="rating" value="5"/><label
            class="full"
            for="naw_star5"></label>
              <input type="radio" id="naw_star4" name="rating" value="4"/><label
            class="full"
            for="naw_star4"></label>
              <input type="radio" id="naw_star3" name="rating" value="3"/><label
            class="full"
            for="naw_star3"></label>
              <input type="radio" id="naw_star2" name="rating" value="2"/><label
            class="full"
            for="naw_star2"></label>
              <input type="radio" id="naw_star1" name="rating" value="1"/><label
            class="full"
            for="naw_star1"></label>
            </fieldset>
            <span class="socialWrap">
                                        <a href="javascript:">
                                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>

