<div  class="wrapper-product-list">
  <h1>Products</h1>
  <div class="list-group">
    <% if @products.present? %>
        <%= render 'products/products' %>
    <% else %>
        <p>Sorry, no products listed yet</p>
    <% end %>
    </div>
</div>