<!--<div  class="wrapper-product-list">
  <h1>Products</h1>
  <div class="list-group">
    <% if @products.present? %>
        <%= render 'products/products' %>
    <% else %>
        <p>Sorry, no products listed yet</p>
    <% end %>
    </div>
</div>-->


<div class="mainWrapper">
  <section class="internalBanner">
  </section>
  <div class="mainFilterWrapper">
    <div class="filterWrapper">
      <div class="container">
        <ul class="filterCat">
          <li class="filterLegend">
            <a id="filterMenuBtn" href="javascript:void(0)">
              <div class="bars">
                <span></span>
                <span></span>
                <span></span>
              </div>
              Filter
            </a>
            <span>Price</span>
          </li>
          <li>Gender</li>
          <li>Frames</li>
          <li>Shapes</li>
          <li>Material</li>
          <li>Size</li>
          <li>Color</li>
          <li>RX Type</li>
        </ul>
      </div>
    </div>
    <div class="filterOptions">
      <div class="container">
        <ul>
          <li data-legend="Price">
            <div id="nonlinear"></div>
            <span id="slider-margin-value-min"></span>
            <span id="slider-margin-value-max"></span>
          </li>
          <li data-legend="Gender">
            <div class="radioCheckWrap">
              <input type="checkbox" id="c1" name="cc1"/>
              <label for="c1"><span></span>Men's</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c2" name="cc1"/>
              <label for="c2"><span></span>Women's</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c3" name="cc1"/>
              <label for="c3"><span></span>Kid's</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c4" name="cc1"/>
              <label for="c4"><span></span>Sun Glasses</label>
            </div>
          </li>
          <li data-legend="Frames">
            <div class="radioCheckWrap">
              <input type="checkbox" id="c5" name="cc2"/>
              <label for="c5"><span></span>Half Rim</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c6" name="cc2"/>
              <label for="c6"><span></span>Full Rim</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c7" name="cc2"/>
              <label for="c7"><span></span>Rimless</label>
            </div>
          </li>
          <li data-legend="Shapes">
            <div class="radioCheckWrap">
              <input type="checkbox" id="c8" name="cc3"/>
              <label for="c8"><span></span>Aviator</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c9" name="cc3"/>
              <label for="c9"><span></span>Rectangle</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c10" name="cc3"/>
              <label for="c10"><span></span>Oval</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c11" name="cc3"/>
              <label for="c11"><span></span>Shield</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c12" name="cc3"/>
              <label for="c12"><span></span>Wayfarer</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c13" name="cc3"/>
              <label for="c13"><span></span>Cat</label>
            </div>
          </li>
          <li data-legend="Material">
            <div class="radioCheckWrap">
              <input type="checkbox" id="c14" name="cc4"/>
              <label for="c14"><span></span>Titanium</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c15" name="cc4"/>
              <label for="c15"><span></span>Plastic</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c16" name="cc4"/>
              <label for="c16"><span></span>Metal</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c17" name="cc4"/>
              <label for="c17"><span></span>Wood</label>
            </div>
          </li>
          <li data-legend="Size">
            <div class="radioCheckWrap">
              <input type="radio" id="r1" name="rr1"/>
              <label for="r1"><span></span>Small</label>
            </div>
            <div class="radioCheckWrap">
              <input type="radio" id="r2" name="rr1"/>
              <label for="r2"><span></span>Medium</label>
            </div>
            <div class="radioCheckWrap">
              <input type="radio" id="r3" name="rr1"/>
              <label for="r3"><span></span>Large</label>
            </div>
          </li>
          <li data-legend="Color">
            <div class="colorPallete">
              <div>
                <a href="javascript:"><span class="filterColor fallGreen"></span></a>
                <a href="javascript:"><span class="filterColor black"></span></a>
                <a href="javascript:"><span class="filterColor gray"></span></a>
              </div>
              <div>
                <a href="javascript:"><span class="filterColor blue"></span></a>
                <a href="javascript:"><span class="filterColor buddhaGold"></span></a>
                <a href="javascript:"><span class="filterColor totemPole"></span></a>
              </div>
              <div>
                <a href="javascript:"><span class="filterColor eggPlant"></span></a>
                <a href="javascript:"><span class="filterColor pink"></span></a>
                <a href="javascript:"><span class="filterColor copper"></span></a>
              </div>
              <div>
                <a href="javascript:"><span class="filterColor white"></span></a>
                <a href="javascript:"><span class="filterColor yellow"></span></a>
                <a href="javascript:"><span class="filterColor titan"></span></a>
              </div>
              <div>
                <a href="javascript:"><span class="filterColor orange"></span></a>
                <a href="javascript:"><span class="filterColor brown"></span></a>
                <a href="javascript:"><span class="filterColor doveGray"></span></a>
              </div>
            </div>
          </li>
          <li data-legend="RX Type">
            <div class="radioCheckWrap">
              <input type="checkbox" id="c18" name="cc5"/>
              <label for="c18"><span></span>Single Vision</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c19" name="cc5"/>
              <label for="c19"><span></span>Bifocal</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c20" name="cc5"/>
              <label for="c20"><span></span>Progessive</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c21" name="cc5"/>
              <label for="c21"><span></span>High Definition</label>
            </div>
            <div class="radioCheckWrap">
              <input type="checkbox" id="c22" name="cc5"/>
              <label for="c22"><span></span>Non Prescription</label>
            </div>
          </li>
        </ul>
      </div>
      <!--<div class="collapseArrow">-->
      <!--<a href="javascript:"><i class="fa fa-angle-up"></i></a>-->
      <!--</div>-->
    </div>
  </div>
  <div class="filterByTypeWrapper">
    <section class="glassesShowCase">
      <div class="container">
        <div class="clearfix titleWrapper">
          <h3 class="pull-left">Men's</h3>
          <span class="sortFilter pull-right">
                        <select class="form-control">
                            <option>Price upto High</option>
                            <option>Price upto Low</option>
                        </select>
                    </span>
          <div class="border-bg"></div>
        </div>
        <div class="row">
          <% for product in @products %>
            <div class="col-md-3">
              <div class="glassInfoWrap">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= image_tag(product.avatar, :class => "img-responsive") %>
                <div class="ratingSocialWrap">
                  <fieldset class="rating">
                    <input type="radio" id="naw_star5" name="rating" value="5"/><label
                  class="full"
                  for="naw_star5"></label>
                    <input type="radio" id="naw_star4" name="rating" value="4"/><label
                  class="full"
                  for="naw_star4"></label>
                    <input type="radio" id="naw_star3" name="rating" value="3"/><label
                  class="full"
                  for="naw_star3"></label>
                    <input type="radio" id="naw_star2" name="rating" value="2"/><label
                  class="full"
                  for="naw_star2"></label>
                    <input type="radio" id="naw_star1" name="rating" value="1"/><label
                  class="full"
                  for="naw_star1"></label>
                  </fieldset>
                  <span class="socialWrap">
                                        <a href="javascript:">
                                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>